<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True">
    <title><%= content_for?(:title) ? yield(:title) : "Clientes" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Clientes" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag :modernizr %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="row"></div>
    </div>
    <div class="login-container fondo-oscuro">
      <div class="container align-center">
        <div class="row">
          <div class="column-6 push-5">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
          alert(Modernizr.input.placeholder);
        });

        Modernizr.load({
            test: Modernizr.input.placeholder,
            nope: [
                    <%= asset_path('polyfills/placeholder.css') %>,
                    <%= asset_path('polyfills/placeholder.jquery.js') %>, // this and the css above are the only required files
                  ]
        });

    </script>
  </body>
</html>
